
html {
    font-family: HelveticaNeueCry, Verdana,Tahoma,"DejaVu Sans",sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5em;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: #292a2bb5;
}

html, body, button, input, select, textarea {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.block {
    margin-bottom: 1.5em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#footer {
    background: #f2f3f3;
    height: 100px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    /*line-height: 60px;*/
    background-color: #f5f5f5;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 90px;
    background-color: #fff167;
    z-index: 100;
    -moz-box-shadow: 0 3px 10px rgba(15,15,15,0.5);
    -webkit-box-shadow: 0 3px 10px rgba(15,15,15,0.5);
    box-shadow: 0 3px 10px rgba(15,15,15,0.5);
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
}

#header, #navigation, #highlighted, .region-bottom {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#header .container {
    position: relative;
    background: url(https://www.socialprotection-toolbox.org/sites/all/themes/hanoi/images/background-header.png) 0 0 no-repeat;
    min-height: 90px;
}

#logo {
    padding-top: 29px;
}

.header__logo {
    float: left;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
}

#page, #header, #navigation, #highlighted, .region-bottom {
    /* margin: 0; */
    padding: 0;
    max-width: 100%;
}

/*@media (min-width: 480px)*/
#navigation {
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
}
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    -moz-box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    -ms-box-sizing: border-box;
    /* box-sizing: border-box; */
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
}

#navigation .block {
    margin-bottom: 0;
}

#sidr-menu {
    /* position: relative; */
    float: right;
    width: 32px;
    height: 32px;
    background: url(https://www.socialprotection-toolbox.org/sites/all/themes/hanoi/images/icon-menu.svg) 0 0 no-repeat;
    margin-top: 29px;
    margin-right: 1em;
    text-indent: -9999px;
}

.links, #navigation .menu {
    margin: 0;
    padding: 0;
    text-align: left;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

#navigation .links li, #navigation .menu li {
    float: left;
    padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none;
}

.menu a.active {
    color: #000;
}

#header:before, #header:after, #main:before, #main:after, #footer:before, #footer:after {
    content: "";
    display: table;
}

#header:after, #main:after, #footer:after {
    clear: both;
}
#header:before, #header:after, #main:before, #main:after, #footer:before, #footer:after {
    content: "";
    display: table;
}

#root{
    padding-top: 90px;
}
/* Tab groups*/

.tab-group .header{
    font-weight: 400;
    text-align: center;
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #495057;
}


.scrollup {
    background: url(https://www.socialprotection-toolbox.org/sites/all/themes/hanoi/images/icon_top.png) no-repeat scroll 0 0 transparent;
    bottom: 50px;
    display: none;
    height: 40px;
    position: fixed;
    right: 100px;
    text-indent: -9999px;
    width: 40px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    z-index: 100;
}

.hoverable:hover {
    -webkit-transition: -webkit-box-shadow .45s;
    -o-transition: box-shadow .45s;
    transition: box-shadow .45s;
    transition: box-shadow .45s, -webkit-box-shadow .45s;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

@media only screen and (max-width: 768px) {
    .card-content-border {
        border-top : 1px solid #dee2e6!important;
        border-left: none !important;
    }
}

.card-content-border {
    border-left : 1px solid #dee2e6!important;
}

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 0 5px currentColor;
}

.inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: #cbcbcb;
    border: 0.25em dashed currentColor;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 14px sans-serif;
    background: white;
    border:1px solid grey;
    border-radius: 8px;

    /*  pointer-events: none;	This line needs to be removed */
}
div.tooltip table,div.tooltip  td,div.tooltip th {
    border: 1px solid #ddd;
    text-align: left;
}

div.tooltip table {
    border-collapse: collapse;
    width: 100%;
}

div.tooltip th,div.tooltip td {
    padding: 15px;
}
div.tooltip th {
    background-color: #4CAF50;
    color: white;
}

.tabs .nav-link.active {
    background: #17a2b8;
    border-bottom-color: #17a2b8;
    color: #fff;
}

.tabs.nav-tabs {
    border-bottom-color: #17a2b8;
}

.tabs.nav-tabs .nav-link:focus, .tabs.nav-tabs .nav-link:hover {
    border-color: #17a2b8;
}

.sidr.right {
    right: -280px;
    left: auto;
}

.sidr {
    width: 280px;
    font-family: "Prompt",sans-serif;
    font-size: 1.2em;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333;
    color: #fff;
    box-shadow: 0 0 5px 5px #222 inset;
}

.sidr .sidr-inner {
    padding: 0 0 15px;
}

.sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #4d4d4d;
}

.sidr ul li {
    display: block;
    margin: 0;
    line-height: 48px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
}

.sidr ul li a, .sidr ul li span {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidr ul li:hover>a,
.sidr ul li:hover>span,
.sidr ul li.active>a,
.sidr ul li.active>span,
.sidr ul li.sidr-class-active>a,
.sidr ul li.sidr-class-active>span {
    box-shadow: 0 0 15px 3px #222 inset;
}